<!DOCTYPE html>
<html>
<head>

    <title>Saved Bills</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1 class="title">Saved Bills</h1>

<div class="card">

<table>

    <thead>
        <tr>
            <th>Bill No</th>
            <th>Customer</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Total</th>
            <th>PDF</th>
        </tr>
    </thead>

    <tbody>

    {% for bill in bills %}

    <tr>

        <td>{{ bill.bill_no }}</td>
        <td>{{ bill.customer_name }}</td>
        <td>{{ bill.place }}</td>
        <td>{{ bill.phone }}</td>
        <td>{{ bill.date }}</td>
        <td>{{ bill.total }}</td>

        <td>
            <a href="/generate_pdf/{{ bill.bill_no }}">
                Download
            </a>
        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

</div>

</body>
</html>